<!DOCTYPE html>
<html>
<head>
  <title>Prototype website</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img alt="Brand" src="https://raw.githubusercontent.com/ALRW/dayAsADev/master/images/glyphicon.png">
        </a>
    </div>
    <h4 class="navbar-text">Prototype Inc.</h4>
  </div>
 </nav>
</body>
</html>